.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
top:55px;
background-color: white;
width: 72px;
z-index: 200;
}

.sidebar-link{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right-color: 1px;
    
}
.sidebar-link:hover{
    background-color: rgb(236, 233, 233);
    cursor: pointer;
}
.sidebar-link img{
    height: 24px;
    width:24px;
}
.sidebar-link div{
    margin-top: 8px;
    font-family: Roboto,Arial;
    font-size: 10px;

}